:root {
    --jumbotron-padding-y: 5rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    /* background-color: #fff; */
    background-image: url("background pic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* optional, center the image */
    background-position: center center;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

@media (max-width: 468px) {
    .jumbotron {
        background-position: -200px -50px;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
    color: aliceblue;
}

.jumbotron-text {
    /* font-weight: 300; */
    color: ghostwhite;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #546e7a;
}

footer p {
    margin-bottom: .25rem;
    color: ghostwhite;
}

/* Footer color for sake of consistency with Navbar */

.page-footer {
    background-color: #929FBA;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */

html, body, .view {
    height: 100%;
}

/* Navbar animation */

@keyframes navbar_colour_change {
    from {
        background-color: rgba(0, 0, 0, 0.2);
    }
    to {
        background-color: rgb(65, 65, 65);
    }
}

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
}

.solid-nav {
    background-color: rgb(65, 65, 65);
    transition: background-color 0.2s linear;
    animation: navbar_colour_change 1s;
}

/* Adding color to the Navbar on mobile */

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgb(65, 65, 65);
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: rgb(65, 65, 65) !important;
    }
}

/* Article */
.article {
    font-size: 1.2em;
}